<template>
  <div>
    <b-row class="h90 py-5" align-v="center" align-h="center">
      <b-col sm="10" md="5" lg="6">
        <b-card title="Register" style="width:100%" class="shadow">
          <b-form @submit.prevent="submit">
            <b-form-group class="py-2">
              <b-form-input
                v-model="form.email"
                type="email"
                placeholder="E-mail address"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group class="py-2">
              <b-form-input
                v-model="form.password"
                type="password"
                placeholder="Password"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group class="py-2">
              <b-button block type="submit" clsss="btn-rx-secondary"
                >contiune</b-button
              >
            </b-form-group>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<style scoped></style>

<script>
import { mapActions } from "vuex";
export default {
  name: "Register",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    ...mapActions({
      register: "auth/register",
    }),
    submit() {
      this.register(this.form).then(() => {
        this.$router.replace({
          name: "login",
        });
      });
    },
  },
};
</script>
