<template>
    <div>
        <b-navbar toggleable="lg" type="dark" class="px-2 bg-rx">
            <b-navbar-brand :to="{ name: 'home'}">URL Shortener</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav v-if="!isAuthenticated">
                <b-navbar-nav class="ms-auto">
                <b-nav-item :to="{ name: 'login'}">Login</b-nav-item>
                <b-nav-item :to="{ name: 'register'}">Register</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
            <b-collapse id="nav-collapse" is-nav v-if="isAuthenticated">
                <b-navbar-nav>
                    <b-nav-item :to="{ name: 'dashboard'}">Dashboard</b-nav-item>
                </b-navbar-nav>
                <b-navbar-nav class="ms-auto">
                <b-nav-item @click="submit">Logout</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Navbar",
  computed: {
    ...mapGetters({
      isAuthenticated: "auth/isAuthenticated",
    }),
  },
  methods: {
    ...mapActions({
      logout: "auth/logout",
    }),
    submit() {
      this.logout();
      this.$router.replace({
        name: "home",
      });
    },
  },
};
</script>

<style scoped>
.bg-rx{
    background-color: #c5e149;
}
.nav-link, .navbar-brand{
    color: #343a40!important;
}
</style>>