<template>
     <div>
        <b-row class="h90 mt-5" align-v="center" align-h="center">
            <b-col md="2" offset-md="11">
                <b-button block type="submit" class="btn-rx-primary"  @click="toggleAddTask()">
                    Add New URL <i class="fas fa-plus"></i>
                </b-button>
            </b-col>
        </b-row>
        <b-row class="h90 mt-3" align-v="center" align-h="center" v-if="showAddUrl">
            <b-card title="URL Shortner" style="width:100%" class="shadow">
                <b-form @submit.prevent="submit">
                    <b-form-group class="py-2">
                    <b-form-input
                        v-model="form.fullUrl"
                        v-bind:class="{'is-invalid' : form.submitted && !form.valid}"
                        type="text"
                        placeholder="Paste long url and shorten it"
                    ></b-form-input>
                    <div class="invalid-feedback">A valid URL is required</div>
                    </b-form-group>

                    <b-form-group class="py-2">
                    <b-button block type="submit" class="btn-rx-secondary"
                        >Shorten</b-button
                    >
                    </b-form-group>
                </b-form>
          </b-card>
        </b-row>
        <b-row class="h90 mt-3" align-v="center" align-h="center">
            <b-card title="" style="width:100%" class="shadow">
                <table class="table table-striped table-bordered">
                    <thead class="bg-rx">
                        <tr>
                            <th scope="col">Full URL</th>
                            <th scope="col">Public Short URL</th>
                            <th scope="col">Total hits</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  v-for="url in urls" :key="url.id">
                            <td>{{ url.fullUrl }}</td>
                            <td>{{ vue_app_base_url }}/{{ url.shortUrl }}</td>
                            <td>{{ url.clicks }}</td>  
                            <td class="text-center">
                                <!--<i class="fas fa-edit mx-3"></i>-->
                                <span title="Delete URL" @click="$emit('delete-url', url.id)"><i class="fas fa-trash mx-3" ></i></span>
                                <span title="Copy To Clipboard" @click="copyDoiToClipboard(vue_app_base_url+'/'+url.shortUrl)"><i class="fas fa-copy"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </b-card>
        </b-row>
     </div>
</template>

<script>
export default {
  name: 'Urls',
  props: {
    urls: Array,
  },
  data() {
    return {
      form: {
        fullUrl: "",
        valid : false,
        submitted : false
      },
      showAddUrl: false,
      vue_app_base_url: process.env.VUE_APP_BASE_URL
    };
  },
  methods: {
    validate : function(){
        if(this.form.fullUrl && this.form.fullUrl.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g)){
            this.form.valid = true;
        } else {
            this.form.valid = false;
        }
    },  
    toggleAddTask() {
        this.showAddUrl = !this.showAddUrl
    },
    submit() {
      this.form.submitted = true;  
      this.validate();
      /*if (!this.form.fullUrl) {
        alert('Please add a URL')
        return
      }*/
      if(this.form.valid){
        this.$emit('add-url', this.form)
        this.form.fullUrl = ""
        this.valid = false
        this.form.submitted = false  
      }
    },
    copyDoiToClipboard (shortUrl) {
        navigator.clipboard.writeText(shortUrl)
    }
  }
}
</script>
<style scoped>
.bg-rx{
    background-color: #ff0a63;
}
</style>